.my-yt-rec {
    --my-yt-rec-max-item-width: 390px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: #636363;
}

.my-yt-rec-item {
    flex: 45% 45%;
    max-width: var(--my-yt-rec-max-item-width);
    min-width: 319px;
    position: relative;
    padding: 10px;
}

@media (min-width: 576px) {
    .my-yt-rec {
        /* Versão lista */
        /* flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; */
    }

    .my-yt-rec-item {
        /* Versão lista */
        /* flex-direction: row;
    min-width: 100%;
    display: flex;
    align-items: left; */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .my-yt-rec {
        flex-direction: row;
        flex-wrap: wrap;

        /* Versão lista */
        /* flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; */
    }

    .my-yt-rec-item {
        flex: 0 35%;
        max-width: 35%;

        /* Versão lista */
        /* flex-direction: row;
    min-width: 100%;
    display: flex;
    align-items: left; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .my-yt-rec {
        /* Versão lista */
        /* flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; */
    }

    .my-yt-rec-item {
        /* Versão lista */
        /* flex-direction: row;
    min-width: 100%;
    display: flex;
    align-items: left; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .my-yt-rec {
        flex-direction: row;
        flex-wrap: wrap;

        /* Versão lista */
        /* flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; */
    }

    .my-yt-rec-item {
        flex: 0 0 25%;
        max-width: var(--my-yt-rec-max-item-width);
        flex-direction: column;

        /* Versão lista */
        /* flex-direction: row;
    min-width: 100%;
    display: flex;
    align-items: left; */
    }
}

.my-yt-rec a {
    color: #636363;
    text-decoration: none;
    cursor: pointer;
}

.my-yt-rec-details {
    display: flex;
    align-items: left;
    padding-right: 24px;
    /* Versão Lista 
padding-left: 12px;*/
}

.my-yt-rec-meta div {
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 9pt;
    color: #606060;
}

.my-yt-rec-thumbnail {
    transition: opacity 0.5s;
    width: 100%;
    min-width: 319px;
    max-width: var(--my-yt-rec-max-item-width);
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
}

.my-yt-rec-channel {
    overflow: hidden;
}

.my-yt-rec-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    line-height: 14pt;
    font-weight: bold;
    color: #030303;
    margin: 12px 0 4px 0;
}

.my-yt-rec-avatar-box {
    flex: content;
    max-width: 36px;
    min-width: 319px;
    position: relative;
    padding: 10px;
}

.my-yt-rec-avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
}